{% extends 'Home/base.html'%}
{% load static %}
{% block content %}
<div class="text-center mt-5">
<img src="{% static 'images/6 12.png' %}" alt="" width="194" height="106">
</div>
<div  class="text-center mt-5"> 
    <h4>HKIA - TSCC</h4>
</div>
<form action="{% url 'login' %}" method="post" novalidate>
    {% csrf_token %} 
<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <label for="inputPassword5" class="form-label float-left">Enter Password:</label>
<input type="password" name="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Password">

    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3 text-center pc">
        <button class="btn btn-dark btn-lg">Continue</button>
    </div>
</div>
</form>
{% endblock content %}